Introduction

In this micro-course, you'll learn all about pandas, the most popular Python library for data analysis.

Along the way, you'll complete several hands-on exercises with real-world data. We recommend that you work on the exercises while reading the corresponding tutorials.

To start the first exercise, please click here.

In this tutorial, you will learn how to create your own data, along with how to work with data that already exists.

In [2]:
import pandas as pd

Two core objects in pandas: DataFrame and the Series

*Dataframe*

In [3]:
# heres a dataframe
pd.DataFrame({'Yes':[50,21], 'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [10]:
# name of the person is the column name 
# all arrays need to be same length

pd.DataFrame({
    'Bob':['I Liked it.', 'It was awful.', 'Meh.'],
    'Sue':['Pretty good.','Bland.', 'Ok.'],
    'Pete':['Nice.','Plain.', 'Eh.'],
    'Jan':['Acceptable.','Horrible.', 'Blegh.'],
    'Jim':['Not bad.','Gross!.', 'Heh.']
})

             Bob           Sue    Pete          Jan       Jim
0    I Liked it.  Pretty good.   Nice.  Acceptable.  Not bad.
1  It was awful.        Bland.  Plain.    Horrible.   Gross!.
2           Meh.           Ok.     Eh.       Blegh.      Heh.

In [11]:
# assign an index parameter

pd.DataFrame({
    'Bob':['I Liked it.', 'It was awful.', 'Meh.'],
    'Sue':['Pretty good.','Bland.', 'Ok.'],
    'Pete':['Nice.','Plain.', 'Eh.'],
    'Jan':['Acceptable.','Horrible.', 'Blegh.'],
    'Jim':['Not bad.','Gross!.', 'Heh.']
},
index=['Product A', 'Product B', 'Product C'])

                     Bob           Sue    Pete          Jan       Jim
Product A    I Liked it.  Pretty good.   Nice.  Acceptable.  Not bad.
Product B  It was awful.        Bland.  Plain.    Horrible.   Gross!.
Product C           Meh.           Ok.     Eh.       Blegh.      Heh.

*Series*

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [14]:
# create a list of numbers

pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign column values to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall *name:*

In [15]:
pd.Series([30,35,40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

Reading data files (csv example)